TOKEN=MTU0NTYyNTM2MzQ1Mzk3MjUwMg.GiwPrY.g1JBCyPcmERcUhq8XhcmieaZknEhixHYqie90M
MONGO_DB=https://cloud.mongodb.com/v2/6aa726b964b9a900d9ad6da7#/clusters
WEBHOOK_URL=webhook_url

COOLDOWN=true

BOT_JOIN_CHANNEL=channelid
BOT_LEAVE_CHANNEL=channelid
BOT_COMMAND_LOG_CHANNEL=channelid

OWNERS=ownerid1,ownerid2 //misc owners who can use owner-only commands and bypass cooldowns
NP_USERS=ownerid1,ownerid2 //users who can give np access 

INVITE_LINK=
BASE_TEXT=```ml\n<> - Required Argument | () - Optional Argument```
